Jinja2
beautifulsoup4
graphviz
langchain
langchain-community
langchain-core
langchain-deepseek
langchain-google-genai
langchain-ollama
langchain-openai
langgraph
loguru
pexpect
pydantic
pydantic-settings
python-dotenv
requests
tqdm
tree-sitter
tree-sitter-java
tree-sitter-python
unidiff
toml